<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326149732050-jdljqo1nmn3a2h8m7l5ole9gjn6e3aqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326149732050-jdljqo1nmn3a2h8m7l5ole9gjn6e3aqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCwU7kCVWwf50JH-NI_EgSl1S4Z8m4-2iU</string>
	<key>GCM_SENDER_ID</key>
	<string>326149732050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GoodRecipeToDay</string>
	<key>PROJECT_ID</key>
	<string>goodrecipetoday-1aeb8</string>
	<key>STORAGE_BUCKET</key>
	<string>goodrecipetoday-1aeb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326149732050:ios:ad73aea459b1fcfd2b5f0b</string>
	<key>DATABASE_URL</key>
	<string>https://goodrecipetoday-1aeb8-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>